Solder_Request_WinFrm/Connected Services/ServiceReference1/WebServiceToOEE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListD_ToOEE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_tempLineId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_tempBeginTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="_tempEndTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="_tempExceptionState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListD_ToOEEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListD_ToOEEResult" type="tns:ArrayOfD_ToOEE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfD_ToOEE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="D_ToOEE" nillable="true" type="tns:D_ToOEE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="D_ToOEE">
        <s:complexContent mixed="false">
          <s:extension base="tns:Entity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ToOEEId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AndonRecordHistoryId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LineId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LineName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BeginTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Downtime" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Measure" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExceptionState" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FailureContent" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FailureTitle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FailureTitleType" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Entity" abstract="true" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetListD_ToOEESoapIn">
    <wsdl:part name="parameters" element="tns:GetListD_ToOEE" />
  </wsdl:message>
  <wsdl:message name="GetListD_ToOEESoapOut">
    <wsdl:part name="parameters" element="tns:GetListD_ToOEEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceToOEESoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListD_ToOEE">
      <wsdl:input message="tns:GetListD_ToOEESoapIn" />
      <wsdl:output message="tns:GetListD_ToOEESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceToOEESoap" type="tns:WebServiceToOEESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListD_ToOEE">
      <soap:operation soapAction="http://tempuri.org/GetListD_ToOEE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceToOEESoap12" type="tns:WebServiceToOEESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListD_ToOEE">
      <soap12:operation soapAction="http://tempuri.org/GetListD_ToOEE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceToOEE">
    <wsdl:port name="WebServiceToOEESoap" binding="tns:WebServiceToOEESoap">
      <soap:address location="http://10.179.244.52:8081/Service/WebServiceToOEE.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceToOEESoap12" binding="tns:WebServiceToOEESoap12">
      <soap12:address location="http://10.179.244.52:8081/Service/WebServiceToOEE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>